.gradle
/local.properties
/.idea/workspace.xml
.DS_Store


# build application fild
*.apk
*.ap_

# file for the dex VM
*.dex

# Java class files
*.class

# generated riles
bin/
gen/
build/

# Local configuration file (sdk path, etc)
local.properties
.gradle


